*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/QuickIndex-master/
/fuzzyQueryContacts/
/fuzzyQueryContacts.zip
/showPicture/build/
